*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #F5F1ED;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

html {
  scroll-behavior: smooth;
}

header{
    background-color: #3B2F2F;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;;
    z-index: 1000;
    top: 0;
}

header {
  background: #3B2F2F;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
}

.logo h2 {
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  transition: .5s;
 
}

.nav-links li:hover {
  transform: translateY(-5px);
  transition: .5s;
   text-decoration: underline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: .5s;
}

.nav-links a:hover {
  color: #EDE3D6;
  transition: .5s;
}

.burger {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}



section{
    padding: 100px 0;
    text-align: center;
    min-height: 70vh;
}



.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.home h1{
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #3B2F2F;
    
}



.home p{
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 600px;
   
}

.about{
    background-color: #EDE3D6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .img img{
    width: 800px;
    height: auto;
    border-radius: 20px;
   
}


.about h1{
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 50px;
   
}

.about p{
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 1200px;
}

.about .btn1{
    background-color: #3B2F2F;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 25px;
    border: none;
    border-radius: 1px solid white;
}

.about .btn1:hover{
    background-color: #5C4B4B;
    color: white;
}

.services{
    text-align: center;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.services h1{
    font-size: 48px;
    margin-bottom: 20px;
   
}

.services .boxs{
    display: flex;
    margin: 15px auto;
    gap: 30px;
    margin-top: 70px;
}

.services .boxs .box-1, .box-2, .box-3 {
    overflow: hidden;
    background-color: #EDE3D6;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 10px #5C4B4B;
    transition: .5s;
}

.services .boxs .box-1:hover, .box-2:hover, .box-3:hover {
    background-color: #3B2F2F;
    color: white;
    transition: .5s;
    transform: translateY(-10px );
    box-shadow: 0 0 20px #3B2F2F;
}
.boxs li{
   
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact{
    text-align: center;
    background-color: #EDE3D6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact h1{
    font-size: 48px;
    margin-bottom: 20px;
   
}

.contact .input-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px; 
}

.input-box input, .input-box textarea{
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
   margin: 20px;
   border-radius: 15px;
    box-shadow: 0 0 20px #3B2F2F;
}

.btn2{
    background-color: #3B2F2F;
    width: 400px;
    height: 40px;
    color: white;
    border-radius: 10px;
     font-size: 18px;
     border: none;
     cursor: pointer;
     display: flex;
        justify-content: center;
        align-items: center;
}

.btn2:hover{
    background-color: #5C4B4B;
    color: white;
}

footer{
    background-color: #3B2F2F;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #3B2F2F;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    transition: right 0.3s ease;
  }

  .nav-links.active {
    right: 0;
  }

  .burger {
    display: block;
  }
    .about .img img{
        width: 100%;
    }

    .services{
        flex-direction: column;
        padding: 10px;
    }
    .services .boxs{
        flex-direction: column;
        padding: 10px;
    }

    .services .boxs .box-1, .box-2, .box-3 {
        padding: 30px;
    }

    .input-box input, .input-box textarea{
        width: 100%;
    }

    .btn2{
        width: 100%;
    }
}
